@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #c8e5ae;
  font-family: "Fredoka", sans-serif;
  color: #232323;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-p-header.is-open .t-p-header-background {
  left: 0;
}
.t-p-header-button-wrapper {
  margin-left: auto;
}
.t-p-header-icon {
  display: none;
}

.t-p-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-p-navigation-list.is-open {
  right: 0;
}
.t-p-header-icon-menu {
  display: block;
}

.t-p-header-icon-button.is-open .t-p-header-icon-menu {
  display: none;
}

.t-p-header-icon-button.is-open .t-p-header-icon-close {
  display: block;
}

.t-p-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: #ffffffb2;
}

.t-p-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #ffffffb2;
}
.t-p-header.is-open .t-p-header-background {
  left: 0;
}
.t-p-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-p-header-icon-menu {
  display: block;
}

.t-p-header-icon-button.is-open .t-p-header-icon-menu {
  display: none;
}

.t-p-header-icon-button.is-open .t-p-header-icon-close {
  display: block;
}

.t-p-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 16px;
  position: relative;
}

.t-p-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px 40px;

  gap: 30px;
  background: #ffffffb2;
}

.t-p-navigation-list.is-open {
  right: 0;
}

.t-p-navigation-link {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #232323;
}

.t-p-navigation-link:hover,
.t-p-navigatioт-link:focus {
  color: #316855;
}

.t-p-header.is-open {
  background-color: transparent;
}

.t-p-navigation-img {
  display: none;
}

@media screen and (min-width: 1192px) {
  .t-p-navigation-img {
    display: flex;
    margin-right: 178px;
  }
  .t-p-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .t-p-header {
    width: 100%;
    height: 68px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(20px);
  }

  .t-p-header-background {
  }
  .t-p-header-icon-button {
    display: none;
  }
  .t-p-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-p-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 42px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-p-navigation-link {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;

    text-decoration: none;
  }

  .t-p-navigation-item-desk {
    display: none;
  }
}
.t-p-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_section.png");
  margin: auto;
}
.t-p-home-container {
  width: 375px;
  padding: 96px 16px 0px;
  margin: auto;
}

.t-p-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.t-p-home-title-img {
  width: 175px;
}
.t-p-home-title {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 20px 0 8px;
}

.t-p-home-text {
  font-family: Open Sans;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1192px) {
  .t-p-home {
    width: 1440px;
    height: 800px;
    background-image: url("/img/home/hero_section\ \(1\).png");
  }
  .t-p-home-container {
    width: 1440px;
    padding: 68px 88px 0px;
  }
  .t-p-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 508px;
  }
  .t-p-home-title-img {
    width: 369px;
  }
  .t-p-home-title {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    padding: 32px 0 8px;
  }

  .t-p-home-text {
    font-family: Open Sans;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.t-p-about {
  margin: auto;
  width: 375px;
  height: 525px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ the\ Game.png");
}
.t-p-about-container {
  width: 375px;
  padding: 233px 16px 0px;
  margin: auto;
}
.t-p-about-title {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #ff7d00;
  width: fit-content;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 50px;
  border-width: 1px;
  border: 1px solid #ff7d00;
  margin-bottom: 16px;
}
.t-p-about-title-two {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #25352a;
}
.t-p-about-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 24px;
}

@media screen and (min-width: 1192px) {
  .t-p-about {
    width: 1440px;
    height: 483px;
    background-image: url("/img/About\ the\ Game\ \(1\).png");
  }
  .t-p-about-container {
    width: 1440px;
    padding: 145px 88px 0 736px;
  }

  .t-p-about-title-two {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0%;
  }
  .t-p-about-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.t-p-why {
  margin: auto;
  width: 375px;
  padding: 0 16px;
}

.t-p-why-container {
  height: 1542px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/bg_key_features.png");
  margin: auto;
  padding: 40px 0 0;
}
.t-p-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.t-p-why-item {
  width: 263px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
  margin: 0 auto;
}
.t-p-why-img {
  margin: 0 auto;
}

.t-p-why-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 22px;
}

@media screen and (min-width: 1192px) {
  .t-p-why {
    margin: auto;
    width: 1440px;
    padding: 0 88px;
  }

  .t-p-why-container {
    height: 784px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/why/bg_key_features\ \(1\).png");
    margin: auto;
    padding: 90px 40px 0;
  }
  .t-p-why-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 42px;
    column-gap: 0;
  }
  .t-p-why-item {
    width: 394.6666564941406px;
    height: 190px;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;

    margin: 0;
  }
  .t-p-why-img {
    margin: 0 auto;
  }

  .t-p-why-text {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 24px;
  }
}

.t-p-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px;
}
.t-p-uniqueness-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.t-p-uniqueness-item {
  width: 292px;
  margin: 0 auto;
}

.t-p-uniqueness-text-bold {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #6d58bd;
  padding: 24px 0 4px;
}
.t-p-uniqueness-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1192px) {
  .t-p-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 90px 88px;
  }
  .t-p-uniqueness-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .t-p-uniqueness-text-bold {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

    padding: 24px 0 4px;
  }
  .t-p-uniqueness-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-p-uniqueness-item-two {
    margin-top: 120px;
  }
}
.t-p-how {
  margin: auto;
  width: 375px;
  height: 908px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/how/Frame\ 95719.png");
}
.t-p-how-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px 0;
}
.t-p-how-image {
  display: none;
}
.t-p-how-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-p-how-item {
  display: flex;
  gap: 12px;
  align-items: center;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.t-p-how-img {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 1192px) {
  .t-p-how {
    width: 1440px;
    height: 574px;
    background-image: none;
  }
  .t-p-how-container {
    margin: auto;
    width: 1440px;
    padding: 90px 88px;
    position: relative;
  }
  .t-p-how-image {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .t-p-how-list {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .t-p-how-item {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.t-p-characters-container {
  padding: 40px 18px;
  margin: auto;
  width: 375px;
}
.t-p-characters-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  padding-top: 40px;
  padding-left: 77px;
  gap: 22px;
}
.t-p-characters-item {
  width: 136px;
  height: 88px;
  border-radius: 8px;

  box-shadow: 0px -4px 20px 0px #00000033 inset;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.t-p-characters-img {
  width: 38px;
  height: 12px;
}
.t-p-characters-text-bold {
  font-family: Open Sans;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 32px 0 40px;
}

.t-p-characters-image {
  width: 343px;
}

@media screen and (min-width: 1192px) {
  .t-p-characters-container {
    padding: 90px 88px;
    margin: auto;
    width: 1440px;
  }
  .t-p-characters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    padding-top: 60px;
    padding-left: 0px;
    gap: 22px;
  }

  .t-p-characters-text-bold {
    font-family: Open Sans;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding: 32px 0 60px;
  }

  .t-p-characters-image {
    width: 1264px;
  }
}

.t-p-faq-container {
  padding: 40px 16px;
  width: 375px;
  margin: auto;
}
.t-p-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-p-faq-item {
  width: 343px;
  border-radius: 20px;
  border-width: 2px;
  padding: 30px;
  background: #faede2;

  border: 2px dotted;
}

.t-p-faq-question {
  display: flex;
  gap: 14px;
  align-items: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
.t-p-faq-img {
  width: 32px;
  height: 32px;
}
.t-p-faq-answer {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  width: 187px;
  margin: 16px 0 0 46px;
}

@media screen and (min-width: 1192px) {
  .t-p-faq-container {
    padding: 90px 88px;
    width: 1440px;
    margin: auto;
  }
  .t-p-faq-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 16;
  }

  .t-p-faq-item {
    width: 616px;
    height: 136px;

    border-radius: 20px;
  }

  .t-p-faq-question {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-p-faq-answer {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    width: fit-content;
    margin: 16px 0 0 46px;
  }
}

.t-p-gallery-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px 20px;
}
.t-p-gallery-list {
  width: auto;
  padding-top: 20px;
  margin: auto;
}

.t-p-gallery-item {
  width: 240px;
  height: 156px;
  border-radius: 8px;
  box-shadow: 8px 8px 20px 0px #00000029;

  overflow: hidden;
  position: relative;
  margin: 20px 10px;
}

.t-p-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1192px) {
  .t-p-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 90px 0 60px;
  }
  .t-p-gallery-item {
    width: 400px;
    height: 260px;
    border-radius: 8px;
    margin: 30px 10px;
  }

  .t-p-gallery-list {
    padding-top: 30px;
  }
}

.t-p-policy-terms-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  background: #fff1eb;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.t-p-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.t-p-policy-terms-container h2 {
  margin-bottom: 16px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.t-p-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 24px;
}
.t-p-policy-terms-container p {
  margin-bottom: 24px;
}
.t-p-email-link {
  color: #0040ff;
  text-decoration: none;
}
@media screen and (min-width: 1192px) {
  .t-p-policy-terms-container {
    padding: 188px 212px 120px;
    width: 1440px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-p-policy-terms-container h1 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .t-p-policy-terms-container h2 {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
}

.t-p-footer-container {
  width: 375px;
  padding: 30px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #197f26;
  color: #ffffff;
}

.t-p-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.t-p-footer-text {
  text-decoration: none;
  color: inherit;
}

.t-p-footer-copyright {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1192px) {
  .t-p-footer-container {
    width: 1440px;
    padding: 60px 108px;
    align-items: stretch;
    gap: 50px;
  }

  .t-p-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 32px;
  }

  .t-p-footer-text {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-p-footer-copyright {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-p-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: #fdfaf6;

  z-index: 1000;
  display: none;
}

.t-p-cookie-popup-text-two {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.t-p-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.t-p-cookie-button {
  background-color: transparent;
  border: 1px solid #232323;
  width: 343px;

  padding-top: 16px;
  padding-bottom: 16px;

  border-radius: 20px;
  font-family: Open Sans;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  transition: all 0.3s ease-in-out;
}
.t-p-cookie-button:hover {
  background: #232323;
  color: #ffffff;
}
#accept-cookies {
  background: #3fa9b5;
  color: #ffffff;
  border: none;
}
#accept-cookies:hover {
  background: #2f7a83;
}
.t-p-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1192px) {
  .t-p-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
  }

  .t-p-cookie-popup-text-two {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    width: 704px;
  }
  .t-p-cookie-button {
    width: 184px;
  }
  .t-p-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .t-p-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px 108px;
    display: none;
  }
}
